<div class="pf2e-downtime-chat-card">
  <div class="pf2e-downtime-chat-card-content">
    <p>{{actorName}} has been awarded {{daysAwarded}} {{downtimeUnit}}(s) of downtime.</p>
    <div class="pf2e-downtime-chat-card-footer">PF2e Downtime</div>
  </div>
</div>