.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content header {
  border-bottom: 1px solid var(--color-border-divider);
  color: var(--color-pf-primary);
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  font-family: var(--serif);
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management {
  display: flex;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management h4.pf2e-downtime-days-available {
  flex: 5;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management button.pf2e-downtime-award-downtime,
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management button.pf2e-downtime-spend-downtime {
  flex: 2;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list {
  padding-left: 0px;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project {
  list-style-type: none;
  display: grid;
  grid-template-columns: min-content 200px auto 55px;
  height: 35px;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project:nth-child(odd) {
  background-color: rgba(120, 100, 82, 0.1);
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-image {
  margin-right: 5px;
  width: 33px;
  height: 33px;
  align-self: center;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-image img {
  border: 1px solid rgba(0, 0, 0, 0.7);
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project h4.pf2e-downtime-project-title {
  text-align: left;
  margin-bottom: 0;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project h4.pf2e-downtime-project-title.pf2e-downtime-complete {
  text-decoration: line-through;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project h4.pf2e-downtime-project-title i {
  opacity: 50%;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress {
  align-self: center;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress div.pf2e-downtime-bar {
  border: 1px solid var(--color-level-info-border);
  background-color: rgba(47, 80, 132, 0.1);
  border-radius: 3px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress div.pf2e-downtime-bar div.pf2e-downtime-bar-label {
  position: absolute;
  margin-left: 5px;
  align-self: center;
  z-index: 1;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress div.pf2e-downtime-bar div.pf2e-downtime-bar-fill {
  height: 100%;
  opacity: 50%;
  background-color: var(--color-level-info);
  border-right: 1px solid var(--color-level-info-border);
  border-radius: 3px;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls {
  align-self: center;
  display: flex;
  height: 100%;
  margin-left: 5px;
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-edit-project,
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-delete-project,
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-restart-project {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  display: inline-grid;
  align-self: center;
  font-size: var(--font-size-12);
}
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-edit-project:hover,
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-delete-project:hover,
.sheet.actor.character .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-restart-project:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}

.sheet.actor.party .pf2e-downtime {
  display: block;
  padding: 0.5rem;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content header {
  border-bottom: 1px solid var(--color-border-divider);
  color: var(--color-pf-primary);
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  font-family: var(--serif);
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management {
  display: flex;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management button.pf2e-downtime-award-downtime,
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content div.pf2e-downtime-management button.pf2e-downtime-add-project {
  flex: 1;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list {
  padding-left: 0px;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project {
  list-style-type: none;
  display: grid;
  grid-template-columns: min-content 300px auto 55px;
  height: 35px;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project:nth-child(odd) {
  background-color: rgba(120, 100, 82, 0.1);
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-image {
  margin-right: 5px;
  width: 33px;
  height: 33px;
  align-self: center;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-image img {
  border: 1px solid rgba(0, 0, 0, 0.7);
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project h4.pf2e-downtime-project-title {
  text-align: left;
  margin-bottom: 0;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project h4.pf2e-downtime-project-title.pf2e-downtime-complete {
  text-decoration: line-through;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project h4.pf2e-downtime-project-title i {
  opacity: 50%;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress {
  align-self: center;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress div.pf2e-downtime-bar {
  border: 1px solid var(--color-level-info-border);
  background-color: rgba(47, 80, 132, 0.1);
  border-radius: 3px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress div.pf2e-downtime-bar div.pf2e-downtime-bar-label {
  position: absolute;
  margin-left: 5px;
  align-self: center;
  z-index: 1;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-progress div.pf2e-downtime-bar div.pf2e-downtime-bar-fill {
  height: 100%;
  opacity: 50%;
  background-color: var(--color-level-info);
  border-right: 1px solid var(--color-level-info-border);
  border-radius: 3px;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls {
  align-self: center;
  display: flex;
  height: 100%;
  margin-left: 5px;
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-edit-project,
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-delete-project,
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-restart-project {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  display: inline-grid;
  align-self: center;
  font-size: var(--font-size-12);
}
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-edit-project:hover,
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-delete-project:hover,
.sheet.actor.party .pf2e-downtime div.pf2e-downtime-tab-content ul.pf2e-downtime-projects-list li.pf2e-downtime-project div.pf2e-downtime-project-controls button.pf2e-downtime-restart-project:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}

.application.pf2e-downtime .pf2e-downtime-project-editor header.pf2e-downtime-project-editor-header {
  border-bottom: 1px solid var(--color-border-divider);
  color: var(--color-pf-primary);
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  font-family: var(--serif);
}
.application.pf2e-downtime .pf2e-downtime-project-editor div.form-group div.pf2e-downtime-help-icon {
  flex: none;
  margin-left: 0.5rem;
  opacity: 50%;
}
.application.pf2e-downtime .pf2e-downtime-project-editor div.form-group div.pf2e-downtime-help-icon:hover {
  opacity: 100%;
}

.chat-message .pf2e-downtime div.pf2e-downtime-chat-card-content span.bold {
  font-weight: bold;
}
.chat-message .pf2e-downtime div.pf2e-downtime-chat-card-content div.pf2e-downtime-chat-card-footer {
  border-top: 1px solid var(--color-border-divider);
  padding-top: 5px;
  font-size: 12px;
}

body.theme-dark .application.pf2e-downtime .pf2e-downtime-project-editor header.pf2e-downtime-project-editor-header {
  color: var(--color-text-light-heading);
}