// Default Theme
:root {
    // Applications
    --pf2e-downtime-app-header-text-color: #5e0000;
    --pf2e-downtime-app-header-border-color: #baa991;
    
    // Chat Cards
    --pf2e-downtime-chat-footer-border-color: #baa991;

    // Shared
    --pf2e-downtime-project-img-border-color: rgba(0, 0, 0, 0.7);

    // PC Sheet
    --pf2e-downtime-pc-header-text-color: #5e0000;
    --pf2e-downtime-pc-header-border-color: #baa991;

    --pf2e-downtime-pc-row-highlight-color: rgba(120, 100, 82, 0.1);

    --pf2e-downtime-pc-project-name-color: #191813;

    --pf2e-downtime-pc-control-color:#191813;
    --pf2e-downtime-pc-control-color-hover:#191813;
    --pf2e-downtime-pc-control-shadow-color-hover: #ff0000;

    --pf2e-downtime-pc-bar-border-color: #5c87b9;
    --pf2e-downtime-pc-bar-bg-color: rgba(47, 80, 132, 0.1);
    --pf2e-downtime-pc-bar-fill-color: #59a1f6;
    --pf2e-downtime-pc-bar-text-color: #191813;

    --pf2e-downtime-pc-button-border-color: rgb(13.8359375, 18.6484375, 63.1640625);
    --pf2e-downtime-pc-button-text-color: #f5efe0;
    --pf2e-downtime-pc-button-text-color-hover: white;
    --pf2e-downtime-pc-button-bg-color: #171f69;
    --pf2e-downtime-pc-button-bg-color-hover: #28328f;

    // Party Sheet
    --pf2e-downtime-party-header-text-color: #124321;
    --pf2e-downtime-party-header-border-color: #baa991;

    --pf2e-downtime-party-row-highlight-color: rgba(120, 100, 82, 0.1);

    --pf2e-downtime-party-project-name-color: #191813;

    --pf2e-downtime-party-control-color:#191813;
    --pf2e-downtime-party-control-color-hover:#191813;
    --pf2e-downtime-party-control-shadow-color-hover: #ff0000;

    --pf2e-downtime-party-bar-border-color: #1b8f23;
    --pf2e-downtime-party-bar-bg-color-: rgba(47, 80, 132, 0.1);
    --pf2e-downtime-party-bar-fill-color: #26b231;
    --pf2e-downtime-party-bar-text-color: #191813;

    --pf2e-downtime-party-button-border-color: #2a7a42;
    --pf2e-downtime-party-button-text-color: #f5efe0;
    --pf2e-downtime-party-button-text-color-hover: white;
    --pf2e-downtime-party-button-bg-color: #124321;
    --pf2e-downtime-party-button-bg-color-hover: #1e6d36;    
}

// Dark Mode Theme Overrides
body.theme-dark {
    .pf2e-downtime-edit-app {
        --pf2e-downtime-app-header-text-color: #c9c7b8;
    }
}

// Dorako
// [data-theme][data-color-scheme=light] {
//     &.pf2e-downtime-edit-app {
//         --pf2e-downtime-app-header-text-color: #5e0000;
//     }
// }


// DOWNTIME TAB - PC SHEET
.sheet.actor.character .pf2e-downtime {
    div.pf2e-downtime-tab-content {
        header {
            border-bottom: 1px solid var(--pf2e-downtime-pc-header-border-color);
            color: var(--pf2e-downtime-pc-header-text-color);
            margin: 0.5rem 0;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1;
            font-family: var(--serif);
        }


        div.pf2e-downtime-management {
            display:flex;

            h4.pf2e-downtime-days-available{
                flex: 5;
                color: var(--pf2e-downtime-pc-project-name-color);
            }
    
            button.pf2e-downtime-award-downtime,
            button.pf2e-downtime-spend-downtime  {
                flex: 2;
                color: var(--pf2e-downtime-pc-button-text-color);
                background-color:var(--pf2e-downtime-pc-button-bg-color);
                border-color: var(--pf2e-downtime-pc-button-border-color);

                &:hover {
                    color: var(--pf2e-downtime-pc-button-text-color-hover);
                    background-color:var(--pf2e-downtime-pc-button-bg-color-hover);
                    box-shadow: none;
                }

            }
        }
        
        ul.pf2e-downtime-projects-list{
            padding-left: 0px;
            margin-top: 0px;
            
            li.pf2e-downtime-project {
                list-style-type: none;
                display: grid;
                grid-template-columns: min-content 200px auto 55px;
                height: 35px;
    
                &:nth-child(odd){
                    background-color: var(--pf2e-downtime-pc-row-highlight-color);
                }
                
                div.pf2e-downtime-project-image {
                    margin-right: 5px;
                    width: 33px;
                    height: 33px;
                    align-self: center;
    
                    img {
                        border:1px solid var( --pf2e-downtime-project-img-border-color);
                        max-width: 100%;
                        max-height:100%;
                        border-radius: 2px;
                    }
                }
                
                h4.pf2e-downtime-project-title {
                    text-align: left;
                    margin-bottom: 0;
                    align-self: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--pf2e-downtime-pc-project-name-color);
                        
                    &.pf2e-downtime-complete {
                        text-decoration: line-through;
                    }

                    i {
                        opacity: 50%;
                    }
                }
    
                div.pf2e-downtime-project-progress {
                    align-self: center;         

                    div.pf2e-downtime-bar {
                        border: 1px solid var(--pf2e-downtime-pc-bar-border-color);
                        background-color: var(--pf2e-downtime-pc-bar-bg-color);
                        border-radius: 3px;
                        height: 30px;
                        display: flex;
                        overflow: hidden;
                        position: relative;
    
                        div.pf2e-downtime-bar-label {
                            position: absolute;
                            margin-left: 5px;
                            align-self: center;
                            z-index: 1;
                            color: var(--pf2e-downtime-pc-bar-text-color);
                        }
                        
                        div.pf2e-downtime-bar-fill {
                            height: 100%;
                            opacity: 50%;
                            background-color: var(--pf2e-downtime-pc-bar-fill-color);
                            border-right: 1px solid var(--pf2e-downtime-pc-bar-border-color);
                            border-radius: 3px;
                        }
                    }
                }
    
                div.pf2e-downtime-project-controls {
                    align-self: center;
                    display: flex;
                    height: 100%;
                    margin-left: 5px;
    
                    button.pf2e-downtime-edit-project,
                    button.pf2e-downtime-delete-project,
                    button.pf2e-downtime-restart-project {
                        margin: 0;
                        padding: 0;
                        background: none;
                        border: none;
                        box-shadow: none;
                        display: inline-grid;
                        align-self: center;
                        font-size: var(--font-size-12);
                        color: var(--pf2e-downtime-pc-control-color);
    
                        &:hover {
                            color: var(--pf2e-downtime-pc-control-color-hover);
                            text-shadow: 0 0 8px var(--pf2e-downtime-pc-control-shadow-color-hover);
                        }
                    }
                }
                
            }
        }
        button.pf2e-downtime-add-project {
            flex: 1;
            color: var(--pf2e-downtime-pc-button-text-color);
            background-color: var(--pf2e-downtime-pc-button-bg-color);
            border-color: var(--pf2e-downtime-pc-button-border-color);

            &:hover {
                color: var(--pf2e-downtime-pc-button-text-color-hover);
                background-color: var(--pf2e-downtime-pc-button-bg-color-hover);
                box-shadow: none;
            }
        }
    }  
}

// DOWNTIME TAB - PARTY SHEET
.sheet.actor.party .pf2e-downtime {
    display: block;
    padding: 0.5rem;
    
    div.pf2e-downtime-tab-content {
        header {
            border-bottom: 1px solid var(--pf2e-downtime-party-header-border-color);
            color: var(--pf2e-downtime-party-header-text-color);
            margin: 0.5rem 0;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1;
            font-family: var(--serif);
        }


        div.pf2e-downtime-management {
            display:flex;
    
            button.pf2e-downtime-award-downtime {
                flex: 1;
                color: var(--pf2e-downtime-party-button-text-color);
                background-color: var(--pf2e-downtime-party-button-bg-color);
                border-color: var(--pf2e-downtime-party-button-border-color);

                &:hover {
                    color: var(--pf2e-downtime-party-button-text-color-hover);
                    background-color: var(--pf2e-downtime-party-button-bg-color-hover);
                    box-shadow: none;
                }
            }
        }
        
        ul.pf2e-downtime-projects-list{
            padding-left: 0px;
            
            li.pf2e-downtime-project {
                list-style-type: none;
                display: grid;
                grid-template-columns: min-content 300px auto 55px;
                height: 35px;
    
                &:nth-child(odd){
                    background-color: var(--pf2e-downtime-party-row-highlight-color);
                }


                div.pf2e-downtime-project-image {
                    margin-right: 5px;
                    width: 33px;
                    height: 33px;
                    align-self: center;
    
                    img {
                        border:1px solid var(--pf2e-downtime-project-img-border-color);
                        max-width: 100%;
                        max-height:100%;
                        border-radius: 2px;
                    }
                }
                
                h4.pf2e-downtime-project-title {
                    text-align: left;
                    margin-bottom: 0;
                    align-self: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--pf2e-downtime-party-project-name-color);
                        
                    &.pf2e-downtime-complete {
                        text-decoration: line-through;
                    }

                    i {
                        opacity: 50%;
                    }
                }
    
                div.pf2e-downtime-project-progress {
                    align-self: center;         

                    div.pf2e-downtime-bar {
                        border: 1px solid var(--pf2e-downtime-party-bar-border-color);
                        background-color: var(--pf2e-downtime-party-bar-bg-color);
                        border-radius: 3px;
                        height: 30px;
                        display: flex;
                        overflow: hidden;
                        position: relative;
    
                        div.pf2e-downtime-bar-label {
                            position: absolute;
                            margin-left: 5px;
                            align-self: center;
                            z-index: 1;
                            color: var(--pf2e-downtime-party-bar-text-color);
                        }
                        
                        div.pf2e-downtime-bar-fill {
                            height: 100%;
                            opacity: 50%;
                            background-color: var(--pf2e-downtime-party-bar-fill-color);
                            border-right: 1px solid var(--pf2e-downtime-party-bar-border-color);
                            border-radius: 3px;
                        }
                    }
                }
    
                div.pf2e-downtime-project-controls {
                    align-self: center;
                    display: flex;
                    height: 100%;
                    margin-left: 5px;
    
                    button.pf2e-downtime-edit-project,
                    button.pf2e-downtime-delete-project,
                    button.pf2e-downtime-restart-project {
                        margin: 0;
                        padding: 0;
                        background: none;
                        border: none;
                        box-shadow: none;
                        display: inline-grid;
                        align-self: center;
                        font-size: var(--font-size-12);
                        color: var(--pf2e-downtime-party-control-color);
    
                        &:hover {
                            color: var(--pf2e-downtime-party-control-color-hover);
                            text-shadow: 0 0 8px var(--pf2e-downtime-party-control-shadow-color-hover);
                        }
                    }
                }
            }
        }

        button.pf2e-downtime-add-project {
            flex: 1;
            color: var(--pf2e-downtime-party-button-text-color);
            background-color: var(--pf2e-downtime-party-button-bg-color);
            border-color: var(--pf2e-downtime-party-button-border-color);

            &:hover {
                color: var(--pf2e-downtime-party-button-text-color-hover);
                background-color: var(--pf2e-downtime-party-button-bg-color-hover);
                box-shadow: none;
            }
        }
    }  
    
}

// PROJECT EDIT APPLICATION
.application.pf2e-downtime-edit-app {
    .pf2e-downtime-project-editor {

        header.pf2e-downtime-project-editor-header{
            border-bottom: 1px solid var(--pf2e-downtime-app-header-border-color);
            color: var(--pf2e-downtime-app-header-text-color);
            margin-bottom: 10px;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1;
            font-family: var(--serif);
        }

        div.form-group {
            display: grid;
            grid-template-columns: auto 350px max-content;
            margin-bottom: 10px;
            align-items: center;

            &.pf2e-downtime-one-col {
                grid-template-columns: auto max-content;
            }

            label {
                font-weight: bold;
            }
            
            div.pf2e-downtime-help-icon {
                flex: none;
                margin-left: 0.5rem;
                opacity: 50%;
        
                &:hover {
                    opacity: 100%;
                }
            }
        }
    }   
}

// CHAT MESSAGES
.chat-message .pf2e-downtime-chat-card {
    div.pf2e-downtime-chat-card-content {
        span.bold {
            font-weight: bold;
        }
    
        div.pf2e-downtime-chat-card-footer {
            border-top: 1px solid var(--pf2e-downtime-chat-footer-border-color);
            padding-top: 5px;
            font-size:12px;
        }
    }
}