.pf2e-downtime {
    
    div.pf2e-downtime-available {
        display:flex;
        h4.pf2e-downtime-days-available{
            flex:10;
        }

        button.pf2e-downtime-award-downtime,
        button.pf2e-downtime-spend-downtime  {
            flex:4;
        }
    }
    
    ul.pf2e-downtime-projects-list{
        padding-left: 0px;
        
        li.pf2e-downtime-project {
            list-style-type: none;
            display: grid;
            grid-template-columns: min-content 200px auto 50px;
            height:35px;

            &:nth-child(odd){
                background-color: rgba(120, 100, 82, 0.1);
            }
            
            .pf2e-downtime-project-image {
                margin-right:5px;
                width: 33px;
                height: 33px;
                align-self: center;

                img {
                    border:1px solid rgba(0, 0, 0, 0.7);
                    max-width: 100%;
                    max-height:100%;
                    border-radius: 2px;
                }
            }
            
            .pf2e-downtime-project-title {
                text-align: left;
                margin-bottom: 0;
                align-self: center;

                &.complete {
                    text-decoration: line-through;
                }
            }

            .pf2e-downtime-project-progress {
                align-self: center;
            }

            .pf2e-downtime-project-controls {
                align-self: center;
                display:flex;
                height:100%;

                button.pf2e-downtime-edit-project,
                button.pf2e-downtime-delete-project,
                button.pf2e-downtime-restart-project {
                    margin: 0;
                    padding: 0;
                    background: none;
                    border: none;
                    box-shadow: none;
                    display: inline-grid;
                    align-self: center;
                    font-size: var(--font-size-12);

                    &:hover {
                        text-shadow: 0 0 8px var(--color-shadow-primary);
                    }
                }
            }
            
        }
    }
}